EC2-creation/.terraform/
EC2-creation/.terraform.lock.hcl
VPC/.terraform/
VPC/terraform.tfstate
VPC/.terraform.lock.hcl

ALB,ASG/.terraform/
ALB,ASG/.terraform.lock.hcl

RDS/.terraform/
RDS/.vscode/
RDS/.terraform.lock.hcl

Configuring EC2 instance using ansible/.vscode
Configuring EC2 instance using ansible/Terraform/.terraform
Configuring EC2 instance using ansible/Terraform/.terraform.lock.hcl










